.mdl-card__title {
    color: #fff;
    background-color: indigo;
}

.dialog-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.dialog-card {
    width: 60%;
}

.mdl-layout__drawer form {
    display flex;
    flex-direction: row;
}

.mdl-navigation__link .mdl-textfield {
    width: 77%;
}

.mdl-cell form {
    justify-content: center;
}

.mdl-cell form span {
    padding-right: 10px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
    right: 0;
}

.float-right {
    float: right;
}

.stock-table, .log-table {
    width: 100%;
}

.stock-table-div, .log-table-div {
    overflow: auto;
    height: 30em;
}

#amount_textfield {
    width: 90%;
}
